/* primary #757575; */
/* title #212121; */
/* accent #2196F3; */
/* Footer contacts rgba(255, 255, 255, 0.6 */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;

  --footer-contacts-color: rgba(255, 255, 255, 0.6);

  --primary-white-color: #ffffff;
  --primary-bg-color: #2f303a;
  --secondary-bg-color: #f5f4fa;

  --socials-bg-color: rgba(255, 255, 255, 0.1);
  --socials-color: #afb1b8;

  --portfolio-border: #eeeeee;
  --header-border: #ececec;

  --backdrop-cl: rgba(0, 0, 0, 0.2);
  --pseudo-bg-color: rgba(47, 48, 58, 0.8);
  --overlay-secondary: rgba(33, 150, 243, 0.9);

  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
/* Отключает точки в списках */
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Уберает нижнее подчеркивание для ссылок класса "link" */
.link {
  text-decoration: none;
}
p {
  margin: 0;
}

/* Стили цвета для текста body  */
body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;

  background-color: var(--primary-white-color: #ffffff);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Стили для контейнера */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  border: 1px solid #ececec;
}
/* Стили для хедера портфолио */
.header-border {
  border-bottom: 1px solid var(--header-border);
}
/* Флекс-стили для навигации */
.header-container {
  display: flex;
  align-items: center;
}
.nav-container {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.contacts-header {
  display: flex;
  margin-left: auto;
}

.site-nav .item:not(:last-child),
.contacts-header .item:not(:last-child) {
  margin-right: 50px;
}
.contacts-header .link {
  align-items: center;
}

/* Стили для ссылок навигации */
.site-nav .link,
.contacts-header .link {
  display: inline-flex;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;

  transition: 250ms var(--cubic);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}
.site-nav .link {
  position: relative;
}

/* Стиль "Текущая страница" */
.link.current {
  color: var(--accent-text-color);
}
.site-nav .link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-text-color);
  transform: scaleX(0);
  transition: 250ms var(--cubic);
}
.link.current::after {
  transform: scaleX(1);
}
.site-nav .link:hover::after,
.site-nav .link:focus::after {
  transform: scaleX(1);
}
/* Стили для логотипа */
.logo {
  display: block;

  color: var(--accent-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-footer {
  margin-bottom: 20px;
}

.logo-header .logo-studio {
  color: var(--title-text-color);
}
.logo-footer .logo-studio {
  color: var(--primary-white-color);
}
.logo:hover,
.logo:focus {
  color: var(--accent-text-color);
}
.icon {
  transition: fill 250ms var(--cubic);
}
.icon-contacts {
  margin-right: 10px;
}
/* Стили для h2 заголовков */
.section .title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* Общие стили оступов к h2 заголовков и текста */
.features-list .title,
.team-list .title {
  margin-top: 0;
  margin-bottom: 10px;
}
.features-list .text,
.team-list .text {
  margin-top: 0;
  margin-bottom: 0;
}

/* Стили секции Героя */
.hero .title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;

  background-color: var(--primary-bg-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero_bg.jpg');
  max-width: 1600px;
  width: 100%;
  height: 600px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  text-align: center;
}

.hero-position {
  max-width: 696px;
}

/* Общие паддинги для секций  */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Стили для секции Преимущества */
.features-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
}

.features-list {
  display: flex;
}
.features-list .item {
  width: calc((100% - 3 * 30px) / 4);
}
.features-list .item:not(:last-child) {
  margin-right: 30px;
}

.features-list .title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: left;
}
.features-list .text {
  line-height: 1.71;
}

/* Стили для секции Чем мы занимаемся */
.section.service {
  padding-top: 0;
}
.service-list {
  display: flex;
  flex-wrap: wrap;
}
.service-list .item {
  position: relative;
  width: 370px;
}
.service-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  min-height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: var(--pseudo-bg-color);
}

.service-overlay .text {
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  font-weight: 700;
}
.service-list .item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.service-list .item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.service-list .link {
  display: block;
}
/* Стили для секции Команда */
.our-team {
  background-color: var(--secondary-bg-color);
}
.team-list {
  display: flex;
}
.team-list .item {
  background-color: var(--primary-white-color);
  width: calc((100% - 3 * 30px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-list .item:not(:last-child) {
  margin-right: 30px;
}
.team-list .title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
}
.team-list .text {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.member-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.socials-list {
  display: flex;
  justify-content: center;
}
.socials-item:not(:last-child) {
  margin-right: 10px;
}
.socials-item {
  width: 44px;
  height: 44px;
}
.socials-link.member {
  background-color: var(--primary-white-color);
  fill: var(--socials-color);
}
.socials-link.member:hover,
.socials-link.member:focus {
  fill: var(--primary-white-color);
}

/* Стили для секции Наши клиенты */
.clients-list {
  display: flex;
  flex-wrap: wrap;
}
.clients-list .item {
  width: calc((100% - 5 * 30px) / 6);
}
.clients-list .item:not(:last-child) {
  margin-right: 30px;
}
.clients-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  fill: var(--socials-color);
}
.icon-clients {
  border: 1px solid var(--socials-color);
  border-radius: 4px;
  transition: 250ms var(--cubic);
}
.clients-link:hover .icon-clients,
.clients-link:focus .icon-clients {
  fill: var(--accent-text-color);
  border-color: var(--accent-text-color);
}

/* Стили для списка портфолио */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-list .item {
  width: calc((100% - 2 * 30px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.portfolio-list .item:nth-child(3n) {
  margin-right: 0px;
}

.portfolio-list .title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

/* Стили для портфолио карточек */
.porfolio-link {
  display: flex;
  flex-direction: column;

  border: 1px solid var(--portfolio-border);

  transition: 250ms var(--cubic);
}
.porfolio-link:hover,
.porfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* Styles for portfolio cards overlay */
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-thumb::before {
  position: absolute;
  content: '';
  display: block;

  width: 100%;
  height: 100%;
  background-color: var(--overlay-secondary);
  transform: translateY(100%);
  transition: 250ms var(--cubic);
}

.porfolio-link:hover .portfolio-thumb::before,
.porfolio-link:focus .portfolio-thumb::before {
  transform: translateY(0);
}

.thumb-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 130%);

  width: 322px;

  font-size: 18px;
  line-height: 1.55;
  color: var(--primary-white-color);

  transition: transform 250ms var(--cubic);
}

.porfolio-link:hover .thumb-text,
.porfolio-link:focus .thumb-text {
  transform: translate(-50%, -50%);
}

.porfolio-content {
  width: 100%;
  padding: 20px 24px;
}
.portfolio-list .text {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
}

/* Стили для кнопоко порфолио */
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-list .item:not(:last-child) {
  margin-right: 8px;
}
/* Стили для кнопок */
.button {
  display: inline-block;
  font-family: Roboto;
  font-size: 16px;
  border: transparent;
  border-radius: 4px;

  transition: 250ms var(--cubic);
}
.button.primary {
  padding: 10px 32px;

  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
  font-weight: 700;
  line-height: 1.9;
  align-items: center;
  letter-spacing: 0.06em;
}
.button.secondary {
  padding: 6px 22px;

  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
}
.button.secondary:hover,
.button.secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.button.primary:hover,
.button.primary:focus {
  color: var(--accent-text-color);
  background-color: var(--primary-white-color);
  cursor: pointer;
}

/*Стили для подвала */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--primary-bg-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-box:nth-child(1) {
  margin-right: 70px;
}
.footer-box:nth-child(2) {
  margin-right: 93px;
}

/* Стили для контактов почты и тел. */

.contacts-header .link {
  color: var(--primary-text-color);
  fill: currentColor;
}
.contacts-footer {
  font-style: normal;
  line-height: 1.71;
}
.contacts-footer .link {
  display: inline-block;

  color: var(--footer-contacts-color);

  transition: 250ms var(--cubic);
}
.contacts .link:hover,
.contacts .link:focus {
  fill: var(--accent-text-color);
  color: var(--accent-text-color);
}

/* Стили для локации офиса*/
.contacts .location {
  color: var(--primary-white-color);
}

/* Оступы для ссылок в футере */
.contacts-footer .link:not(:last-child) {
  margin-bottom: 9px;
}

.footer-box .text {
  margin-bottom: 20px;

  font-weight: bold;
  line-height: 1.142;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

/* Стили для социальных ссылок в футере */
.socials-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  border-radius: 50%;

  transition: 250ms var(--cubic);
}
.socials-link.company {
  fill: var(--primary-white-color);
  background-color: var(--socials-bg-color);
}
.socials-link:hover,
.socials-link:focus {
  background-color: var(--accent-text-color);
}
/* Styles form footer form  */

.label-mailing {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}
.button-mailing {
  display: inline-flex;
  align-items: center;
  margin-left: 12px;
}
.button-mailing:hover .icon-plane,
.button-mailing:focus .icon-plane {
  fill: var(--accent-text-color);
}
.icon-plane {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: var(--primary-white-color);
}
/* Класс для скрывания заголовков */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* Styles for button */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--backdrop-cl);
  visibility: visible;
  opacity: 1;
  transition: opacity 250ms var(--cubic);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color: var(--primary-bg-color);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);

  width: 528px;
  height: 581px;

  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms var(--cubic), background-color 550ms var(--cubic);
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;

  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.icon-close {
  width: 11px;
  height: 11px;
}

.close-btn:hover {
  cursor: pointer;
}
